/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --main-text-color: #f1b2ce;
    --background-color: #000028;
    --accent-color: #ff0070;
    --decorative: #ff0070;
    --header-menu-button-hover-color: rgb(255 0 112 / 0.4);
    --title-color: #ff0070;
    --accent-title-color: #000028;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (width >= 768px) {
    .page.theme_dark {
        background-image: url(../images/cover-image-dark.png);
    }
}
