/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --main-text-color: #353430;
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decorative: #353430;
    --header-menu-button-hover-color: rgb(50 49 45 / 0.4);
    --title-color: #353430;
    --accent-title-color: #fff1f7;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .page .header__rec-el {
    display: none;
}

.theme-light .page .decorated-title {
    color: #ffc2e6;
}
/*
@media (width >= 768px) {
    .theme-light .page {
        background-image: url(images/cover-image-light.png);
    }
}
*/