/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    color: var(--main-text-color, #f1b2ce);
    line-height: 130%;
    background-color: var(--background-color, #000028);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*?*/
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
    'menu menu'
    'header header'
    'description description';
    position: relative;
}

.header__rec-el {
    display: flex;
    align-self: center;
    position: absolute;
    inset-inline-end: 10px;
    inset-block-start: 10px;
    color: var(--decorative, #ff0070);
}

.header__rec-el::after {
    content: '';
    display: inline-block;
    margin: 9px;
    background-color: var(--decorative, #ff0070);
    border-radius: 50%;
    box-shadow: 0 0 4px 3px var(--decorative, #ff0070);
    block-size: 9px;
    inline-size: 9px;
}

.header__theme-menu {
    grid-area: menu;
    align-self: center;
    justify-self: end;
    color: var(--decorative)
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    inline-size: 70px;
    block-size: 26px;
    padding: 0 12.4px; /*?*/
    font-size: inherit;
    line-height: 100%;
    text-transform: lowercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--header-menu-button-hover-color, rgb(255 0 112 / 0.4)); /*?*/
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--decorative, #ff0070);
    outline: none;
}

.header__theme-menu-button_active {
    border: 1px solid var(--decorative, #ff0070);
    pointer-events: none; /*?*/
}

.header .decorated-title {
    grid-area: header;
    align-self: center;
    text-shadow: 4px 4px 0 var(--accent-color); /*?*/
}

.header .accent-title {
    grid-area: description;
    align-self: center;
    font-weight: bold;
}
/* Декоративные элементы*/
.decorated-zone {
    position: relative;
    min-block-size: 100vb; /*?*/
    padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    display: inline-block;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: 10px; /*?*/
    inset-inline-end: 10px; /*?*/
    border-inline-end: 1px solid var(--decorative, #ff0070);
    border-block-start: 1px solid var(--decorative, #ff0070);
}
/*? может объединить в один селектор*/
.decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
    border-inline-start: 1px solid var(--decorative, #ff0070);
    border-block-end: 1px solid var(--decorative, #ff0070);
}

.title {
    color: var(--title-color, #ff0070);
    font-size: inherit;
}

.decorated-title {
    color: #db00ff;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
}

.accent-title {
    color: var(--accent-title-color, #000028);
    font-size: inherit;
    background-color: var(--accent-color, #ff0070);
}
/* Декоративные элементы*/

.table {
    display: grid;
    gap: 20px;
}

.article {
    display: grid;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*?*/
.humble-heading {
    font-weight: normal;
}

.card-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.card-link:hover {
    border-block-end: 1px solid currentColor;
}

.card-link:focus {
    outline: none;
}

.card-link:focus-visible {
    outline: 1px solid currentColor;
    appearance: none;
}

/* Галлерея */
.image-gallery {
    display: grid;
    gap: 10px;
}

.gallery-container {
    display: grid;
    gap: 10px;
}

.gallery-image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}
/* Галлерея */
/* Подвал */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .decorated-title {
    text-shadow: 2px 2px 0 #ff0070;
}
/* Подвал */

/* Адаптивность через медиа-запросы */
@media (width >=768px) {
    .page {
        gap: 60px;
    }
    .main {
        padding: 0 20px;
        gap: 80px;
    }
    .header {
        grid-template-areas:
      'menu menu'
      'header header'
      '. description';
    }
    .header .decorated-title {
        margin-inline-start: -20px;
    }
    .header__rec-el {
        inset-inline-end: 20px;
        inset-block-start: 20px;
    }
    .column-table {
        grid-template-columns: 1fr 2fr;
    }
    .row-table {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .row-table .article {
        grid-row: 2;
        grid-column: span 3;
    }
    .image-gallery {
        gap: 20px;
    }
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .vertical-image {
        grid-row: span 2;
    }
    .horizontal-image {
        grid-column: span 2;
    }
    .decorated-zone {
        padding: 20px;
    }
    .decorated-zone::before {
        inset-block-start: 20px;
        inset-inline-end: 20px;
    }
    .decorated-zone::after {
        inset-block-end: 20px;
        inset-inline-start: 20px;
    }
}

@media (width >=1024px) {
    .header__theme-menu {
        align-self: start;
        justify-self: center;
    }
    .header__theme-menu-list {
        flex-direction: row;
    }
    .row-table .article {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .column-table {
        gap: 10px;
    }
    .decorated-title {
        font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
    }
}