/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --main-text-color: #353430;
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decorative: #353430;
    --header-menu-button-hover-color: rgb(50 49 45 / 0.4);
    --title-color: #353430;
    --accent-title-color: rgba(53, 52, 48, 1);
}

.page {
    /* Вам также нужно будет написать ряд подобных селекторов */
}

.page .header__rec-el {
    display: none;
}

.page .decorated-title {
    color: #ffc2e6;
}

@media (width >= 768px) {
    .theme-light .page {
        background-image: url(../images/cover-image-light.png);
    }
}
