/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --main-text-color: #f1b2ce;
    --background-color: #000028;
    --accent-color: #ff0070;
    --decorative: #ff0070;
    --header-menu-button-hover-color: rgb(255 0 112 / 0.4);
    --title-color: #ff0070;
    --accent-title-color: #000028;
    --visibility: visible;
}