/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

@media (prefers-color-scheme: light) {
    :root {
        --main-text-color: #353430;
        --background-color: #fff1f7;
        --accent-color: #ff8dcb;
        --decorative: #353430;
        --header-menu-button-hover-color: rgb(50 49 45 / 0.4);
        --title-color: #353430;
        --accent-title-color: rgba(53, 52, 48, 1);
    }

    .page {
        /* Вам также нужно будет написать ряд подобных селекторов */
    }

    .page .header__rec-el {
        display: none;
    }

    .page .decorated-title {
        color: #ffc2e6;
    }

    @media (width >= 768px) {
        .theme-light .page {
            background-image: url(../images/cover-image-light.png);
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #f1b2ce;
        --background-color: #000028;
        --accent-color: #ff0070;
        --decorative: #ff0070;
        --header-menu-button-hover-color: rgb(255 0 112 / 0.4);
        --title-color: #ff0070;
        --accent-title-color: #000028;
    }

    .page .header .decorated-title {
        color: rgba(219, 0, 255, 1);
        /* Вам также нужно будет написать ряд подобных селекторов */
    }

    .page .header__rec-el {
        display: inline-block;
    }

    @media (width >= 768px) {
        .page.theme_dark {
            background-image: url(../images/cover-image-dark.png);
        }
    }
}